body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    background-color: aqua;

}

.content{
    max-width: 500px;
    margin:500px auto;
    padding:20px;
    background-color:cornsilk;
    border-radius:10px;
    box-shadow:0 0 10px black;
    text-align:center;
}